{% extends "layout.html" %}
{% block content %}

<section class="bg-light">
    <div class="container px-5 mt-3">
        {{ flashed_messages() }}
        <div class="row justify-content-center">
            <div class="col-md-8 p-2">
                <h2 class="mb-4">Adição de Produto</h2>

                <form action="/estoque/add" method="post">

                    <div class="mb-4 form-floating">
                        <input type="text" name="produto" class="form-control" placeholder="Produto"
                            value="{{ request.form['produto'] }}" />
                        <label class="form-label">Produto</label>
                    </div>

                    <div class="mb-4 form-floating">
                        <input type="text" name="preco" class="form-control" placeholder="Preco unitário"
                            value="{{ request.form['preco'] }}" />
                        <label class="form-label">Preço unitário</label>
                    </div>

                    <div class="mb-4 form-floating">
                        <input type="text" name="qtd" class="form-control" placeholder="Quantidade"
                            value="{{ request.form['qtd'] }}" />
                        <label class="form-label">Quantidade</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="prescricao" role="switch"
                            {{prescricao_checked}}>
                        <label class="form-check-label">Requer prescrição médica</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}