{% extends "layout.html" %}
{% block content %}

<header class="masthead">
    <div class="container px-5">
        {{ flashed_messages() }}
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3" style="color:aliceblue;">iMedicine</h1>
                    <p class="lead fw-normal mb-5" style="color:aliceblue;">Delivery de
                        produtos farmacêuticos</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="masthead-device-mockup">
                    <img class="img-fluid" src="static/img/produtos.png">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}