{% from "macros.html" import flashed_messages with context %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>iMedicine - Produtos farmacêuticos</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav"
        style="background-color:lightskyblue">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/">iMedicine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    {% if is_logged_out() and is_logged_out_farm() %}
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/addusuario">Cadastro de usuário</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/addfarma">Cadastro de farmácia</a></li>
                    {% endif %}
                    {% if not is_logged_out() %}
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/produtos">Produtos</a></li>
                    {% endif %}
                    {% if not is_logged_out_farm() %}
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/farmacia">Gerenciamento de Produtos</a>
                    </li>
                    {% endif %}

                    {% if carrinho_itens()>0 %}
                    <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;"
                        href="/carrinho">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        {{ carrinho_itens() }}
                    </a>
                    {% endif %}

                    {% if is_logged_out() and is_logged_out_farm() %}
                    <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;" href="/login">
                        <span class="d-flex align-items-center">
                            <span class="small">Entrar</span>
                        </span>
                    </a>
                    {% else %}
                    <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;"
                        href="/logout">
                        <span class="d-flex align-items-center">
                            <span class="small">Sair</span>
                        </span>
                    </a>
                    {% endif %}

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; iMedicine 2021. All Rights Reserved.</div>
            </div>
        </div>
    </footer>

    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>