<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="static/signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin">
    <form method="post">
      <p><b>iMedicine</b></p>
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="email" value="{{
          request.form.email }}">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="senha" value="{{
          request.form.senha }}">
        <label for="floatingPassword">Senha</label>
      </div>
      <!--
      <div>
        <p>Ainda não tem conta? <a href="addcliente">Cadastre-se</a></p>
      </div>
      -->
      <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Logar</button>
      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}
    </form>
  </main>


</body>

</html>