{% extends "layout.html" %}
{% block content %}

<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 mb-5 p-5">
            <div class="col-md-6">
                <div class="mb-5">
                    <h1 class="mt-5">{{ produto['produto'] }}</h1>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/produto/{{ produto['id'] }}" method="post">
                    <h1 class="mt-5">R$ {{ number2real(produto['preco']) }}</h1>

                    {% if produto['prescricao'] == 1 %}
                    <div class="mb-4 form-floating">
                        <input type="text" name="token" class="form-control" placeholder="Prescrição digital"
                            value="{{ request.form['token'] or '' }}" />
                        <label class="form-label">Prescrição digital:</label>
                    </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4 me-3">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}