{% extends "layout.html" %}
{% block content %}

<section>
    <div class="container mt-3" style="padding-bottom: 200px;" ;>
        {{ flashed_messages() }}
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="mb-4 mt-4">Produtos</h2>

                <div class="container p-0">
                    <form class="row" method="get">
                        <div class="col-md-8">
                            <input type="text" name="search" class="form-control" placeholder="Busque aqui seu produto"
                                value="{{request.args['search']}}"" />
                        </div>
                        <div class=" col-auto">
                            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </form>
                </div>

                <p class="mt-3">{{ resultado }}</p>

                <table class="table mt-5">

                    {% if produtos %}
                    {% for produto in produtos %}
                    <tr>
                        <td>
                            <a href="/produto/{{ produto['id'] }}">{{ produto['produto'] }}</a><br />
                            <small>{{ produto['farmacia'] }}</small>
                        </td>
                        <td>
                            <b> R$ {{ number2real(produto['preco']) }} </b>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>

            </div>

        </div>
    </div>
</section>

{% endblock %}